nyxos.db
__pycache__/
*.py[cod]
.env
config.txt
Logs/
Memory/
venv/
.venv/
.DS_Store
restart_metadata.json
allowed_channels.json
goodbot.json
buffer.txt
server_settings.json
suppressed_users.json
command_state.hash
shutdown.flag
heartbeat.txt
NyxOS_legacy.py
token.txt
kagi_token.txt
system_prompt.txt
injected_prompt.txt
unit_tests.txt
output.*
.gemini
MagicMock*
status_state.json
logs/
*.gemini/
/DiscordImporter
*Backup/
*.7z
nyxcontrolconfig.txt
*injected_terminal_prompt.txt
NyxControl.py
chroma_db/
chroma_data/
open-webui/chroma_data/
open-webui/
uploader.py
viewer.py
tools/test_ingest.py
config.txt
/TempleBackupText
nyxos.db-*